body{
    background-color: orange;
}

.cambiode{
    color: blue;
    font-size: 3rem;
    transition: 3s;
    background-color: paleturquoise;
    display: inline-block;
    
}

.contador{
    width: 1rem; 
    height: 1rem;
    background-color: orchid;
}

